From the [previous analysis](./analysis.ipynb)

In [1]:
import csv
from collections import defaultdict

from sklearn import metrics
from sklearn.model_selection import train_test_split

    
SEED = 1337

with open('../data/atis/train.tsv', 'rt') as f:
    reader = csv.reader(f, delimiter='\t')
    data = list(reader)
    data_x = [row[0] for row in data]
    data_y = [row[1] for row in data]

data_x_train, data_x_val, data_y_train, data_y_val = train_test_split(data_x, data_y, test_size=0.2, random_state=SEED)

def val_accuracy(f):
    print(metrics.accuracy_score(data_y_val, f(data_x_val)))

data_x_words = sorted({w for x in data_x_train for w in x.split(' ')})

def one_hot_features(x):
    """Feature at index i equals 1 iff the word i is in the string x"""
    xw = x.split(' ')
    return [int(w in xw) for w in data_x_words]

data_x_features = [one_hot_features(x) for x in data_x_train]

by_label = defaultdict(list)
for x, y in zip(data_x_train, data_y_train):
    by_label[y].append(x)
labels = set(by_label)

In [7]:
import numpy as np

data_x_wcounts = np.sum(data_x_features, axis=0)
data_x_wcounts

array([ 165,    1,    4,   37,    6,   77,    1,    1,    1,    8,   45,
          2,   11,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    5,    1,    3,    2,    3,    1,    1,    2,   31,    1,
          1,    1,    1,    1,    3,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    2,    1,    1,    1,   15,    3,    1,
         20,    2,    2,    2,    3,    1,    1,    1,    2,    1,    2,
          2,    2,    1,    4,    1,   14,    1,    1,    1,    1,    1,
          2,    1,    1,    1,    1,    2,   33,    1,    1,    3,    1,
          1,    1,    1,    1,    5,    1,    1,    1,    3,    1,   61,
          1,    1,    1,    2,    1,    1,    3,    4,   43,    1,    5,
          1,    1,   35,    1,    1,    4,    1,    1,    1,    2,    1,
          1,    2,    1,    1,    5,    2,    1,    1,    1,   36,    3,
          3,    1,    1,    1,    1,    3,    4,    1,    1,   21,    1,
          1,    3,    1,  645,    1,    5,    1,    1,   34,    2,    1,
          2,    1,  172,  137,    1,    1,    8,   70,   49,   14,    1,
         63,  322,    7,    1,  107,   16,    2,  446,    1,   15,   93,
          3,  133,    4,   48,  584,   50,    3,   80,    4,    9,    2,
          1,    3,    1,   16,  349,    3,    2,   42,    4,    9,    4,
          3,  112,   21,  142,   14,  119,    2,  561,   73,  142,    2,
         12,  444,    1,   22,   28,  139,    1,    1,    1,    1,    1,
        277,    1,    4,   30,    6,  776,    6,    1,   19,    1,    1,
         17,   13,    5,    1,   13,   42,    2,   22,    1,   95,    5,
          5,    1,    7,   18,   10,    1,    1,    2,    1,    1,   76,
          2,  153,   69,    3,   31,   17,  134,  159,   10,   51,    2,
          1,    3,   26,   48,    4,    8,   24,    5,    1,    3,   18,
          1,    2,    1,    1,   75,    1,   54,    5,   37,   10,    1,
          2,    1,    1,   32,  481,    2,    1,   26,    4,  106,    2,
         21,    3,   85,  730,   30,   37,    4,    8,    2,    2,    1,
          4,    1,   25,    7,   70,    2,    1,   17,    2,   20,    1,
         11,    6,   14,   74,  159,    1,   27,   58,    1,    2,    4,
          7,    2,  115,   69,   14,    1,   29,    2,    1,   14,   10,
          1,    9,    1,    1,    1,   92,    1,    3,   39,    9,   11,
          7,    2,    3,  182,  119,    5,    4,   18,    1,   12,   14,
          1,   90,  188,    3,   13,  871, 1794,   11,  194,   23,    2,
          4,  207,   66,    1,    6,   15,  643,   67,    1,    2, 2737,
         20,    2,   44,    1,  135,   99,   20,   48,    1,    2,    1,
        162,    8,    3,    1,   16,  149,    1,    1,    4,    3,    1,
          8,    1,    1,    1,    1,    6,   65,  106,    4,  720,    1,
          9,  601,    3,    1,    1,   67,    1,    1,   94,    1,    1,
         14,   31,   27,  477,   22,    2,    1,    7,    7,    1,    5,
         38,   61,   41,    2,    1,   55,   23,    1,    2,   36,   19,
         48,    3,    2,    5,    1,    1,   76,   25,    2,   19,    3,
         52,    1,    1,    7,   35,  112,   30,  250,   19,    1,    6,
          1,  355,    2,    9,    1,  353,   10,    1,    4,    1,    1,
          6,   33,    1,    2,   21,   50,   35,   18,   31,    1,    4,
          9,    2,    2,   17,    5,    4,   42,    2,    3,   40,    5,
        903,   31,    8,    1,   31,    3,   37,    1,   75,    2,    5,
          2,   11,   96,    1,   34,    2,    2,   20,  113,    1,    2,
         42,    4,  227,    4,   10,   40,    1,    7,    4,    1,   38,
          3,    3,  171,    1,  108,   74,   71,   25,    1,    5,   15,
          6,    1,  103,    2,   74,    2,   10,   18,   28,   22,   13,
          5,    2,    1,   65,    1,  177,    9,  286,    1,    7,    1,
          1,    1,    2,   32, 1056,    1,  121,    7,   12,    1,    1,
          2,   47,    2,    1,    1,    3,   65,   14,   17,    4,    1,
          3,   26,    1,    3,    7,   40,  415,    1,   72,  500,    1,
          3,   11,    6,  250,  218,   20,    1,    1,   19,    1,   12,
          1,    2,    3,    1,    5,    2,    1,    6,   11,    1,    3,
          1,    2,    1,    4,   13,    2,    2,    1,    1,    2,    2,
          1,   15,    1,   21,   15,    6,  142,    1,    1,    1,    4,
          1,   48,   14,  748,   76,    3,    2,    1,   19,    1,    2,
          1,    1,    6,    3,   67,   22,   40,   21,   25,   14,   28,
         33,    2,    3,    6,    1,    1,    6,   68,    5,    7,    7,
        742,    1,    4,    2,    5,    8,   10,    2,    3,    4,    1,
          3,    2,    3,    1,    1,    4,    1,   98,   13,    1,    1,
          1,    3,    1,    2,   69,   44,    3,   21,   22,    1,    1,
         88,    3,    2,    1,   30,   18,    2,    4,    1,    2,   39,
          2,   60,    3,    3,    6,    3,   27,    8,    1,  276, 1433,
          5,    1,   13,  174,    1,    4,    1,    1,   20,    2,   11,
          6,   14,    3,    3,    3,   13,  119,    2,   37,    9,   39,
         19, 2850,   12,   59,    1,    1,   69,    1,    1,    1,    1,
          9,  150,   31,    7,    1,  153,    3,    1,    4,  106,    2,
          2,   41,   11,    1,   15,   87,   13,   32,   13,   10,    7,
        106,    2,   71,    5,   23,    2,   14,    2,    1,   77,    2,
         13,    1,    1,  113,    1,    1,  253,  117,    2,  178,   10,
         16,    6,    2,    2,    3,   12,  991,    9,    8,    1,  125,
          1,    2,   16,    2,  144,    2,    2,    1,    1,   66,  202,
          7,    1,    5,    6,  101,  164,   15,    1,    1])

In [8]:
len(data_x_words)

845

In [10]:
from pandas import DataFrame
data_x_words_counts = DataFrame({'counts': data_x_wcounts, 'words': data_x_words})
data_x_words_counts

     counts  words
0       165     'd
1         1  'hare
2         4    'll
3        37     'm
4         6    're
..      ...    ...
840     101   york
841     164    you
842      15   your
843       1    yyz
844       1   zone

[845 rows x 2 columns]

In [11]:
data_x_words_counts.sort_values(by='counts', ascending=False, inplace=True)
data_x_words_counts.head(20)

     counts       words
760    2850          to
384    2737        from
369    1794     flights
736    1433         the
576    1056          on
820     991        what
506     903          me
368     871      flight
225     776      boston
652     748         san
682     742        show
300     730      denver
416     720           i
146     645           a
380     643   francisco
419     601          in
180     584         and
205     561     atlanta
603     500  pittsburgh
290     481      dallas

In [14]:
data_x_features = np.array(data_x_features)
flights_feature = data_x_features[:, 369]

In [15]:
flights_feature

array([0, 1, 1, ..., 0, 0, 1])

In [17]:
data_x_train[0:3]

['can i see ground transportation from long beach airport to downtown',
 "i 'd like to see flights from baltimore to atlanta that arrive before noon",
 'what flights from salt lake city to new york city arrive next saturday before 6 pm']

In [19]:
data_y_train = np.array(data_y_train)
data_y_train[flights_feature != 0]

array(['flight', 'flight', 'flight', ..., 'flight', 'flight', 'flight'],
      dtype='<U19')

In [22]:
np.unique(_, return_counts=True)

(array(['aircraft', 'airfare', 'airfare+flight_time', 'airline', 'airport',
        'flight', 'flight+airfare', 'flight_no', 'flight_time', 'quantity',
        'restriction'], dtype='<U19'),
 array([   1,   45,    1,   24,    1, 1658,   13,    3,   16,   31,    1]))

In [28]:
data_x_train = np.array(data_x_train)
data_x_train[(data_y_train == "airfare") & (flights_feature != 0)]

array(['show me any show me what the first class fares are of the flights from pittsburgh to san francisco on monday',
       'show me all the prices of flights from baltimore to dallas',
       'what are the fares for flights between atlanta and dfw provided by american airlines',
       'please show me all fares for flights from denver to oakland',
       'what are the fares for flights between atlanta and dfw',
       'what is the cost of flights from denver to san francisco',
       'please give me the prices for all flights from philadelphia to denver airport next sunday',
       'show fares and flights from denver to oakland',
       'show me the price of all flights from atlanta to washington dc',
       'show me prices of flights from baltimore to dallas',
       'what is the price of flights from indianapolis to memphis',
       'show me fares less than 400 dollars for flights from dallas to baltimore',
       'what are the round trip fares for flights from denver to philadelphia arriving after 1700 on continental',
       'what is the cost for these flights from baltimore to philadelphia',
       'what is the fare for flights from denver to atlanta',
       'what are the prices of the flights from dallas to baltimore',
       'what are the coach fares for flights from charlotte to newark tuesday evening',
       'show me the prices of all flights from atlanta to washington dc',
       'list the fares of midway airlines flights from boston to philadelphia',
       'show me the fares on all flights round trip from pittsburgh to oakland',
       'what are the cheapest fares for flights from newark to la leaving wednesday after 3 pm',
       'what are the coach fares for flights from charlotte to newark tuesday afternoon',
       'what are the first class and coach fares for flights from chicago to kansas city arriving around 7 pm next thursday',
       'can you show me economy class one way fares for flights from oakland to dallas on december sixteenth',
       'can you show me the economy fare flights from baltimore to dallas',
       'what are the prices of the flights from atlanta to dallas in the morning',
       'what are the costs of flights from dallas to boston tomorrow',
       'list a round trip fare from kansas city to minneapolis flights',
       'list the fares of us air flights from boston to philadelphia',
       'show me the fares for delta flights from dallas to san francisco',
       'show me fares for flights from minneapolis to seattle on july first 1993',
       'what are the fares for flights from charlotte to newark on tuesday and wednesday',
       'please list the cost of all flights from philadelphia to denver airport next sunday',
       'what united airlines first class airfare flights are available from denver to baltimore on july three',
       'what are the fares for flights from la to newark leaving monday morning',
       'fares and flights from pittsburgh to philadelphia',
       'what are the coach class fares on flights from pittsburgh to atlanta',
       'fares and flights from baltimore to philadelphia',
       'show me the air fare for the flights from baltimore to dallas',
       'please list fares for all the flights from atlanta to philadelphia on august the first',
       'what are the coach fares for flights from newark to la leaving after 3 pm',
       'what are the coach fares for flights from pittsburgh to denver',
       'all fares and flights from philadelphia',
       'show prices for all flights from baltimore to dallas on july twenty ninth',
       'what are the fares for flights serving a meal from boston to pittsburgh before noon on thursday'],
      dtype='<U259')

In [35]:
{s for s in data_x_train[(data_y_train == "airfare") & (flights_feature != 0)] if 'price' not in s and 'cost' not in s and 'fare' not in s}

set()

In [38]:
{s for s in data_x_train[(data_y_train == "airfare")] if 'price' not in s and 'how much' not in s and  'cost' not in s and 'fare' not in s}

{'give me the least expensive first class round trip ticket on us air from cleveland to miami',
 'hi could i get a one way ticket from milwaukee to orlando',
 'hi i want a round trip ticket to dallas',
 "i 'd like a round trip ticket from los angeles to tacoma washington",
 "i 'd like a ticket from denver to atlanta with a stopover in pittsburgh is this possible",
 "i 'd like to buy a coach class ticket from denver to atlanta with a stopover in pittsburgh",
 "i 'd like to have some information on a ticket from denver to pittsburgh and atlanta",
 'i need 2 first class tickets from dallas fort worth to san francisco',
 'i need a first class ticket on united airlines from denver to baltimore scheduled for december seventeenth',
 'i need a ticket from los angeles to charlotte that leaves early in the morning',
 'i need one first class ticket from dallas fort worth to san francisco',
 'i want a one way ticket from dallas to baltimore',
 'i would like a ticket leaving from denver colorado to atlanta georgia with a stop in pittsburgh',
 'i would like your rates between atlanta and boston on september third',
 "in economy class from dallas to baltimore arriving july seventh i 'd like to know what 's the cheapest ticket possible",
 "okay i 've got somebody else who wants to take a round trip ticket from charlotte to montreal",
 'please show me round trip tickets from denver to oakland',
 'show me round trip first class tickets from new york to miami',
 'show me round trip tickets from new york to miami',
 'show me the cheapest one way tickets from atlanta to dallas',
 'show me the round trip tickets from baltimore to atlanta',
 'show me the round trip tickets from baltimore to dallas',
 "what 's the cheapest one way ticket from baltimore to atlanta",
 'what are the most expensive first class tickets between boston and san francisco',
 'what is the cheapest one way ticket from denver to pittsburgh',
 'what is the cheapest ticket from baltimore to san francisco on friday august thirtieth',
 'what is the least expensive one way ticket from atlanta to denver leaving on october twelfth',
 'what round trip tickets are there from cleveland to miami on us air that arrive before 4 pm'}

In [39]:
airfare_preditor = lambda s: (' price' in s) + (' cost ' in s) + (' fare' in s) + (' rate' in s) + (' ticket' in s) + ('how much' in s)

In [40]:
def f1_score(tp, fp, fn):
    assert tp or fn or fp
    return 2 * tp / (2 * tp + fn + fp)


def f1_scores(confusion_matrix):
    tp = defaultdict(float)
    fn = defaultdict(float)
    fp = defaultdict(float)
    all_labels = set(confusion_matrix)

    for actual, row in confusion_matrix.items():
        for predicted, value in row.items():
            all_labels.add(predicted)
            if predicted == actual:
                tp[actual] = value
            else:
                fp[actual] += value
                fn[predicted] += value

    return [
        (lb, tp[lb], fn[lb], fp[lb], f1_score(tp[lb], fn[lb], fp[lb]))
        for lb in sorted(all_labels)
    ]

In [46]:
def confusion(model, on_data : tuple[list[str], list[str]]):
    cm = defaultdict(lambda: defaultdict(int))
    for x, y in zip(*on_data):
        cm[y][model(x)] += 1
    return cm

In [44]:
format_integer = format_confusion = str

def format_f1_scores(scores: list[tuple[str, int, int, int, float]]):
    return "\n".join(
        f"  {label} ({', '.join(map(format_integer, nums))}): {format_confusion(value)}"
        for label, *nums, value in scores
    )

def print_train_f1_scores(model, on_data = [data_x_train, data_y_train]):
    print(format_f1_scores(f1_scores(confusion(model, on_data))))

In [47]:
print_train_f1_scores(lambda s: 'airfare' if airfare_preditor(s) else 'flight')

  abbreviation (0.0, 0.0, 93.0): 0.0
  aircraft (0.0, 0.0, 58.0): 0.0
  airfare (299, 116.0, 20.0): 0.8147138964577657
  airfare+flight_time (0.0, 0.0, 1.0): 0.0
  airline (0.0, 0.0, 118.0): 0.0
  airline+flight_no (0.0, 0.0, 1.0): 0.0
  airport (0.0, 0.0, 13.0): 0.0
  capacity (0.0, 0.0, 11.0): 0.0
  cheapest (0.0, 0.0, 1.0): 0.0
  city (0.0, 0.0, 15.0): 0.0
  distance (0.0, 0.0, 13.0): 0.0
  flight (2703, 589.0, 52.0): 0.8939970233173474
  flight+airfare (0.0, 0.0, 14.0): 0.0
  flight_no (0.0, 0.0, 9.0): 0.0
  flight_time (0.0, 0.0, 44.0): 0.0
  ground_fare (0.0, 0.0, 14.0): 0.0
  ground_service (0.0, 0.0, 185.0): 0.0
  meal (0.0, 0.0, 2.0): 0.0
  quantity (0.0, 0.0, 37.0): 0.0
  restriction (0.0, 0.0, 4.0): 0.0

In [61]:
ground_predictor = lambda s: ('ground transport' in s) + (' car ' in s ) + (' cars ' in s) + (' limo' in s) + (' taxi' in s) + (' downtown' in s)

print_train_f1_scores(lambda s:'ground_service' if ground_predictor(s) else 'airfare' if airfare_preditor(s) else 'flight')

  abbreviation (0.0, 0.0, 93.0): 0.0
  aircraft (0.0, 0.0, 58.0): 0.0
  airfare (296, 103.0, 23.0): 0.8245125348189415
  airfare+flight_time (0.0, 0.0, 1.0): 0.0
  airline (0.0, 0.0, 118.0): 0.0
  airline+flight_no (0.0, 0.0, 1.0): 0.0
  airport (0.0, 0.0, 13.0): 0.0
  capacity (0.0, 0.0, 11.0): 0.0
  cheapest (0.0, 0.0, 1.0): 0.0
  city (0.0, 0.0, 15.0): 0.0
  distance (0.0, 0.0, 13.0): 0.0
  flight (2697, 403.0, 58.0): 0.921263877028181
  flight+airfare (0.0, 0.0, 14.0): 0.0
  flight_no (0.0, 0.0, 9.0): 0.0
  flight_time (0.0, 0.0, 44.0): 0.0
  ground_fare (0.0, 0.0, 14.0): 0.0
  ground_service (179, 29.0, 6.0): 0.910941475826972
  meal (0.0, 0.0, 2.0): 0.0
  quantity (0.0, 0.0, 37.0): 0.0
  restriction (0.0, 0.0, 4.0): 0.0

In [62]:
df = DataFrame({'x': data_x_train, 'y': data_y_train})

In [63]:
df['gs_p'] = df['x'].apply(ground_predictor)
df['a_p'] = df['x'].apply(airfare_preditor)
df

,x,y,gs_p,a_p
0,can i see ground transportation from long beac...,ground_service,2,0
1,i 'd like to see flights from baltimore to atl...,flight,0,0
2,what flights from salt lake city to new york c...,flight,0,0
3,i need a flight from denver to philadelphia on...,flight,0,0
4,ground transportation in san jose,ground_service,1,0
...,...,...,...,...
3702,i need to go from boston to atlanta in the sam...,flight,0,0
3703,oakland to denver,flight,0,0
3704,what does us stand for,abbreviation,0,0
3705,how much time does it take to go between the a...,ground_service,2,1
3706,show any flights leaving san francisco on sund...,flight,0,0

In [64]:
df[(df.y == 'ground_service') & (df.gs_p == 0)]

,x,y,gs_p,a_p
104,i 'd like to know the ground travel available ...,ground_service,0,0
462,train to newark,ground_service,0,0
1299,in new york i 'll need to rent a car,ground_service,0,0
1430,ground san francisco,ground_service,0,0
1445,what is the transportation time from the airpo...,ground_service,0,0
3280,in pittsburgh i 'd like to rent a car,ground_service,0,0

In [65]:
df[(df.y != 'ground_service') & (df.gs_p != 0)]

,x,y,gs_p,a_p
76,how do i get from pittsburgh airport to downto...,flight,1,0
146,what is the distance from la guardia to new yo...,distance,1,0
232,how far is oakland airport from downtown,distance,1,0
349,how much does it cost to rent a car in tacoma,ground_fare,1,2
375,what are the costs of car rental in dallas,ground_fare,1,0
401,how much is the ground transportation between ...,ground_fare,2,1
481,what is the cost of limousine service in phila...,ground_fare,1,1
533,what are the rental car rates in dallas,ground_fare,1,1
922,how do i get from the airport to downtown in t...,flight,1,0
950,what is the cost of the air taxi operation at ...,ground_fare,1,1
1037,how can i get from the airport in pittsburgh t...,flight,1,0
1045,can you tell me how to get from the airport in...,flight,1,0
1726,how much would car rental cost in atlanta,ground_fare,1,2
1745,how much does it cost to get downtown from the...,ground_fare,2,2
1782,how far is the airport from downtown pittsburgh,distance,1,0
1828,how much does the limousine service cost withi...,ground_fare,1,2
2399,how much does it cost to go from downtown to l...,airfare,1,2
2425,how expensive is the san francisco limousine s...,ground_fare,1,0
2431,how much is a limousine between dallas fort wo...,ground_fare,1,1
2447,do you have the fare for traveling from oaklan...,airfare,1,1
2641,how can i go from the san francisco airport to...,flight,1,0
2985,how long is a trip from philadelphia airport t...,distance,1,0
3157,how can i get from the denver airport to downtown,flight,1,0
3198,what airport in new york is closest to downtown,airport,1,0
3398,and how much does it cost to travel from bosto...,airfare,1,2
3535,what price is a limousine service in boston,ground_fare,1,1
3542,how far is downtown from the airport in dallas,distance,1,0
3567,what are the rental car rates in san francisco,ground_fare,1,1
3651,what is the distance between pittsburgh airpor...,distance,1,0

In [75]:
costs_predictor = lambda s: (' price ' in s) + (' cost ' in s) + (' fare ' in s) + (' prices ' in s) + (' costs' in s) + (' fares' in s) + (' rate ' in s) + (' ticket ' in s) + (' rates ' in s) + (' tickets ' in s) + ('how much' in s)

distance_predictor = lambda s: (' distance ' in s) + (' distances ' in s) + ('how far ' in s) + ('how long ' in s)

flights_predictor = lambda s: (' flights ' in s) + (' list ' in s)

city_predictor = lambda s: ('what city ' in s) + ('where is ' in s) + (' cities ' in s) + ('time zone' in s)

In [76]:
def air_or_ground_model(s):
    if city_predictor(s):
        return 'city'
    
    costs = costs_predictor(s)
    distance = distance_predictor(s)
    ground = ground_predictor(s)

    if distance: 
        return 'distance'
    if ground:
        return 'ground_fare' if costs else 'ground_service'
    if costs:    
        return 'flight+airfare' if flights_predictor(s) else 'airfare'
    return 'flight'

print_train_f1_scores(air_or_ground_model)

  abbreviation (0.0, 0.0, 93.0): 0.0
  aircraft (0.0, 0.0, 58.0): 0.0
  airfare (253, 49.0, 66.0): 0.8148148148148148
  airfare+flight_time (0.0, 0.0, 1.0): 0.0
  airline (0.0, 0.0, 118.0): 0.0
  airline+flight_no (0.0, 0.0, 1.0): 0.0
  airport (0.0, 0.0, 13.0): 0.0
  capacity (0.0, 0.0, 11.0): 0.0
  cheapest (0.0, 0.0, 1.0): 0.0
  city (13, 8.0, 2.0): 0.7222222222222222
  distance (13, 1.0, 0.0): 0.9629629629629629
  flight (2707, 376.0, 48.0): 0.9273723878040425
  flight+airfare (12, 74.0, 2.0): 0.24
  flight_no (0.0, 0.0, 9.0): 0.0
  flight_time (0.0, 0.0, 44.0): 0.0
  ground_fare (12, 5.0, 2.0): 0.7741935483870968
  ground_service (176, 8.0, 9.0): 0.9539295392953929
  meal (0.0, 0.0, 2.0): 0.0
  quantity (0.0, 0.0, 37.0): 0.0
  restriction (0.0, 0.0, 4.0): 0.0

In [77]:
df['ag_m'] = df['x'].apply(air_or_ground_model)

In [78]:
df[(df.ag_m == 'airfare') & (df.y != 'airfare')]

,x,y,gs_p,a_p,ag_m
100,what 's the difference between fare code q and...,abbreviation,0,1,airfare
131,show me the cheapest fare in the database,cheapest,0,1,airfare
325,what types of aircraft can i get a first class...,aircraft,0,1,airfare
331,i would like the flight number and the time fo...,flight_no,0,1,airfare
368,how many fare codes belong to economy class,quantity,0,1,airfare
527,how many fares are there one way from tacoma t...,quantity,0,1,airfare
537,what is fare code f,abbreviation,0,1,airfare
539,list lowest cost flight from dallas to baltimore,flight,0,1,airfare
553,please explain fare code f,abbreviation,0,1,airfare
789,what does fare code qw mean,abbreviation,0,1,airfare
1145,flights from denver to philadelphia include fares,flight,0,1,airfare
1169,list lowest cost flight from dallas to baltimo...,flight,0,1,airfare
1239,what is fare code qw,abbreviation,0,1,airfare
1291,describe fare code qx,abbreviation,0,1,airfare
1323,show me what fare codes symbols stand for,abbreviation,0,1,airfare
1367,show me the lowest price from dallas to baltimore,flight,0,1,airfare
1371,which flight is a one way fare at 329 dollars ...,flight,0,1,airfare
1574,what is fare code m,abbreviation,0,1,airfare
1585,okay that sounds great let 's go from atlanta ...,flight,0,1,airfare
1599,is fare code b the same as business class,abbreviation,0,1,airfare
1657,what does fare code qo mean,abbreviation,0,1,airfare
1846,what 's the difference between fare code q and...,abbreviation,0,1,airfare
2001,again i will repeat i want to make a one way f...,flight+airfare,0,2,airfare
2119,flights from baltimore to philadelphia where t...,flight,0,1,airfare
2176,what does the fare code yn mean,abbreviation,0,1,airfare
2256,flights from baltimore denver and pittsburgh t...,flight,0,1,airfare
2275,i would like to fly the cheapest rate availabl...,flight,0,1,airfare
2387,what does fare code qx mean,abbreviation,0,1,airfare
2395,what does the fare code y mean,abbreviation,0,1,airfare
2519,what is the fare code y and what is the fare c...,abbreviation,0,1,airfare
2617,what is fare class h,abbreviation,0,1,airfare
2801,what 's fare code yn,abbreviation,0,1,airfare
2823,what are fare codes qw and qx,abbreviation,0,1,airfare
2875,what is fare code qo mean,abbreviation,0,1,airfare
2878,great now what i want to find out is on april ...,flight,0,1,airfare
2904,explain fare code qx,abbreviation,0,1,airfare
2909,what does fare code q mean,abbreviation,0,1,airfare
2920,explain the fare code q,abbreviation,0,1,airfare
2942,what is fare code q,abbreviation,0,1,airfare
3016,what does the fare code qw mean,abbreviation,0,1,airfare
3072,what is fare code h,abbreviation,0,1,airfare
3092,what does fare code y mean,abbreviation,0,1,airfare
3197,what does fn under fare code mean,abbreviation,0,1,airfare
3238,what does fare code m mean,abbreviation,0,1,airfare
3257,what is fare code c,abbreviation,0,1,airfare
3342,i 'd like to see the fare code again qx,abbreviation,0,1,airfare
3496,what does the fare code qx mean,abbreviation,0,1,airfare
3563,what is the meaning of fare code qx and qw,abbreviation,0,1,airfare
3621,what does the fare code f and fn mean,abbreviation,0,1,airfare